<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Home</title>
    <link rel="stylesheet" href="/public/style.css">
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Blog Posts</h1>
    <ul>
        <% posts.forEach(post => { %>
            <li>
                <a href="/post?id=<%= post.id %>"><%= post.title %></a>
            </li>
        <% }) %>
    </ul>
    <button class="button-21"><a class="newP" href="/addPost">Add New Post</a></button>
    
</body>
</html>